<div class="group">
    <div class="group-head head">
        <div class="group-functions">
            <i class="glyphicon glyphicon-remove group-function group-delete-button" title="Удалить"></i>
            <span class="group-title">Группа</span>

            <i class="glyphicon glyphicon-pencil group-function group-edit-button" title="Редактировать"></i>
        </div>
        <div class="group-name">{name}</div>
    </div>
    <ul class="group-variants-list"></ul>
    <div class="group-variant-create-button">
        <i class="glyphicon glyphicon-plus"></i>
        Добавить ответ
    </div>
</div>