<div class="script">
    <div class="pull-right script-functions">
        <div class="script-func-button qtipped" id="editor___function__editor_options" title="Настройки редактора" data-my="top-right" data-at="bottom left"><i class="glyphicon glyphicon-cog"></i></div>
        <div class="script-func-button qtipped" id="editor___function__performer_options" title="Настройки прогонщика" data-my="top-right" data-at="bottom left"><i class="glyphicon glyphicon-phone"></i></div>
        <div class="script-func-button qtipped" id="editor___function__image_export" title="Экспорт в изображение" data-my="top-right" data-at="bottom left"><i class="glyphicon glyphicon-picture"></i></div>
        <div class="script-func-button qtipped" id="editor___function__draft_new_release" title="Новая публикация" data-my="top-right" data-at="bottom left"><i class="glyphicon glyphicon-tag"></i></div>

        <div id="editor___save_indicator" class="save-indicator"></div>
    </div>

    <div class="pull-right script-form">
        <div>
            <input id="editor___script__name" name="name" value="{name}" class="form-control">
            <i class="glyphicon glyphicon-pencil script-button qtipped" id="script-edit-name-button" title="Редактировать название скрипта" data-my="top-right" data-at="bottom left"></i>
        </div>

        <div>
            <select id="editor___script__start_node_uuid" placeholder="Начальный узел"></select>
            <a class="script-test-call qtipped" href="#/call/{id}/mode/test"  title="Пробный звонок с начального узла" data-my="top-right" data-at="bottom left"> <i class="glyphicon glyphicon-earphone script-button script-call-button"></i></a>
        </div>
    </div>
</div>