<div class="node">
    <div class="node-head head">
        <div class="node-functions">
            <i class="glyphicon glyphicon-remove node-function node-delete-button" title="Удалить"></i>
            <span class="node-title">#<span class="node-number">{number}</span></span>
            <i class="glyphicon glyphicon-pencil node-function node-edit-button" title="Редактировать"></i>
            <i class="glyphicon glyphicon-earphone node-function node-call-button" title="Тестовый звонок, начиная с этого узла"></i>
            <i class="glyphicon glyphicon-duplicate node-function node-duplicate-button" title="Клонировать узел"></i>
        </div>
        <div class="node-big-number">{number}</div>
        <div class="node-content">{content}</div>
        <div class="node-call-stage"></div>
        <div class="node-groups"></div>
    </div>
    <ul class="variants-list"></ul>
    <div class="variant-create-button">
        <i class="glyphicon glyphicon-plus"></i>
        Добавить ответ
    </div>
</div>