#script___gift__banner{
    min-height: 200px;
}
.script___gift__picture {
    font-size: 100px;
    opacity: 0.5;
    margin-right: 30px
}

.script___gift__message {
    font-size: 20px;
}
.script___gift__button {
    margin-top: 10px;
    margin-right: 20px;
}

@media (max-width: 768px) {
    #script___gift__banner{
        min-height: 100px;
    }
    .script___gift__picture {
        font-size: 50px;
        opacity: 0.5;
        margin-right: 15px
    }

    .script___gift__message {
        font-size: 14px;
    }
    .script___gift__button {
        margin-top: 10px;
        margin-right: 20px;
    }
}
