.btn-wysi-color-black {
    background-color: black;
    border-color: black;
}

.btn-wysi-color-silver {
    background-color: silver;
    border-color: silver;
}

.btn-wysi-color-gray {
    background-color: gray;
    border-color: gray;
}

.btn-wysi-color-white {
    background-color: white;
    border-color: white;
}

.btn-wysi-color-maroon {
    background-color: maroon;
    border-color: maroon;
}

.btn-wysi-color-red {
    background-color: red;
    border-color: red;
}

.btn-wysi-color-purple {
    background-color: purple;
    border-color: purple;
}

.btn-wysi-color-fuchsia {
    background-color: fuchsia;
    border-color: fuchsia;
}

.btn-wysi-color-green {
    background-color: green;
    border-color: green;
}

.btn-wysi-color-lime {
    background-color: lime;
    border-color: lime;
}

.btn-wysi-color-olive {
    background-color: olive;
    border-color: olive;
}

.btn-wysi-color-yellow {
    background-color: yellow;
    border-color: yellow;
}

.btn-wysi-color-navy {
    background-color: navy;
    border-color: navy;
}

.btn-wysi-color-blue {
    background-color: blue;
    border-color: blue;
}

.btn-wysi-color-teal {
    background-color: teal;
    border-color: teal;
}

.btn-wysi-color-aqua {
    background-color: aqua;
    border-color: aqua;
}

